<div class="row my-4"  th:fragment="footer">
      <!--Grid column-->
      <div class="col-4  px-10">
        <div class="d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 60px; height: 60px;" >
          <img th:src="@{/images/opera.png}" height="70" width="70" alt="" loading="lazy"
          />
        </div>
      </div>

      <div class="col-4 px-10">
        <h6 class="text-center" style="color:#8b3800">'As an art form, opera is a rare and remarkable creation.' - Luciano Pavarotti</h6>
      </div>

      <!--Grid column-->
      <div class="col-4 px-10">
        <h6 class="text-center" style="color:#8b3800"><i class="fas fa-map-marker-alt pe-2" style="color:#8b3800"></i> Bucharest, Romania</h6>
      </div>

</div>


