<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Tickets</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
<!--    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
    <div th:replace="header :: header"> </div>
    <style>
        body {
            min-height: 100vh; /* Set a minimum height equal to the viewport height */
            margin: 0;
            padding: 0;
            background-image: url("/images/operabk.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow-y: auto; /* Allow vertical scrolling */
        }
    </style>
</head>

<body style="margin-bottom: 150px">
    <div class="container marginTop centered"  >
    <h1 style="font-weight: bold; text-align: center;color: lightgrey;"> Available Tickets </h1>
    <tr th:if="${tickets.size() == 0}" style="margin-top:5rem;">
        <h2 class="m-5 centered"><span class="badge badge-secondary" style="background-color:rgba(169, 169, 169, 0.95); color:#8b3800">No tickets!</span></h2>
    </tr>
    <table th:if="${tickets.size() != 0}" id="items" class="table table-hover marginTop"
           style="text-align:center;vertical-align: center; border-style: solid; border-radius: 10px;">
        <thead class="thead text-white" style="background-color: #8b3800">
        <tr>
            <th>Ticket Id</th>
            <th>Ticket Type</th>
            <th>Event Code</th>
            <th>Details</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="ticket, stat : ${tickets}" th:id="${ticket.id}" style="background-color: rgba(169, 169, 169, 0.95);" >

            <td th:text="${ticket.id}"></td>

            <td th:text="${ticket.ticketType}"></td>

            <td th:text="${ticket.eventCode}"></td>

            <td th:text="${ticket.description}"></td>          

            <td th:text="${ticket.price}"></td>

            <td>
                <div>
                    <a  class="btn mt-1 text-white" th:href="@{'/api/ticket/delete/'+${ticket.id}}" style="background-color: #8b3800">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
    <div>
        <a class="btn mt-1" href="/api/ticket/new" style="background-color:rgba(169, 169, 169, 0.98); color:#8b3800">Add new ticket</a>
    </div>
</div>
</body>
<footer class="fixed-bottom" style="background-color: rgba(169, 169, 169, 0.9); width: 100%; height: 70px; ">
    <div th:replace="footer :: footer"></div>
</footer>
</html>